version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    environment:
      - DB_CONNECTION=sqlite
      - DB_DATABASE=/workspace/database/database.sqlite
